/* CUSTOMIZE CAROUSEL */

/* indicators */
ol.carousel-indicators li.active {
  background-color: rgb(0, 0, 0);
}

ol.carousel-indicators li {
  background-color: rgba(29, 34, 37, 0.998);
}

/* carousel-control (prev/next) */
.carousel a:hover {
  background-color: rgba(88, 81, 81, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(70%);
}
