@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,600|Roboto:300,400,700');

/* Header, footer */
header, footer {
  background-color: #000000;
}

/* Navbar */
.navbar-brand {
  font-size: 18px;
  font-weight: 700;
}

.nav-link, .dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

nav li {
  padding: 0 40px;
}

nav li.active, nav li.active:before {
  background-color: rgba(73, 73, 73, 0.1);
  border-radius: 10px;
}

/* Social icons */
footer i {
  color: #414141;
  padding: 0 12px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}

/* Paragraph */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Link & Buttons */
a.btn, button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body {
  background-color: rgb(16, 16, 16);
  color: rgb(151, 151, 151);
}

.card {
  background-color: black;
}

/* Navbar dropdown - React Router links */
.navbar-nav .nav-link {
  cursor: pointer;
}

.blog-sidebar {
  background-color: #111;
}
